body{
	background: #f5f5f5;
	height:100%;
}
.bgWhite{
	background: #fff;
}

.navbar-default .navbar-brand {
  color: rgb(225,107,140);
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fcdddd;
}
.navbar-default .navbar-text {
  color: rgb(225,107,140);
}
.navbar-default .navbar-nav > li > a {
  color: rgb(225,107,140);
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: rgb(240,150,140);
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fcdddd;
  background-color:rgb(225,107,140);
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #fcdddd;
  background-color: rgb(225,107,140);
}
.navbar-default .navbar-toggle {
  border-color: rgb(225,107,140);
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: rgb(225,107,140);
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: rgb(225,107,140);
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ff553d;
}
.navbar-default .navbar-link {
  color: #ff553d;
}
.navbar-default .navbar-link:hover {
  color: #fcdddd;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ff553d;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fcdddd;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fcdddd;
    background-color: rgb(208,90,110);
  }
}
/*我自己的导航条*/
.my-navbar-style{
	margin-bottom: 0;
}

a{
	color:inherit;
}
a:hover,a:active{
	color:rgb(225,107,140);
	text-decoration: none;
}
p{
	font-size:16px;
}
.footer{
	text-align: center;
	font-size:16px;
	display:block;
	
}

.hot-link{
	display: block;
	padding:5px 0 5px 0;
	font-size:16px;
}
.best-seer{
	text-align: center;
}
.best-seer-message{
	height:90px;
	line-height: 30px;
	text-align:center;
}

.prophecy-item .prophecy-date, .prophecy-item .prophecy-user{
	display:inline-block;
	margin-right:20px;
}
.prophecy-item .prophecy-summary{
	font-size:16px;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}

/*清除浮动*/
.clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0} 
.clearfloat{zoom:1}

/*jumbotron条	*/

.cherry-jumbotron{
	width:100%;
	margin-bottom: 20px;
	background: rgb(204,95,125);
}
.jumbotron-icon{
	font-size:80px;
}
.jumbotron-block{
	padding-top:40px;
	padding-bottom: 55px;
	text-align: center;
	color:#FFF;
}
.junbotron-non-button{
	margin-bottom:40px;
}
.jumbotron-title{
	font-size:35px;
	padding-bottom:20px;
}

.font-cherry{
	color:rgb(225,107,140);
}	

/*padding*/
.pt20{
	padding-top:38px;
}


/*nav*/
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color:  rgb(225,107,140);
}

/*短的，没有内容预览的预言*/
.prophecy-list{
	font-size: 16px;
	
}
.prophecy-list-item{
	display: block;
	padding-bottom: 10px;
}
.pdbt-30{
	padding-bottom: 30px;
}
