/*people.css*/
.account-container {
    display: table;
}
.account-avatar {
    padding-right: 1em;
}
.account-avatar img {
    width: 80px;
    height: 80px;
}
.account-avatar, .account-details {
    display: table-cell;
    vertical-align: top;
}
.account-details .account-name {
    font-size: 22px;
    font-weight: 600;
}
.account-details .account-role {
	font-size: 16px;
    color: #888;
}
.account-details span {
    display: block;
}
.account-details span {
    display: block;
}
.account-details .account-actions {
    color: #BBB;
}


.account-details span {
    display: block;
}
.people-edit-message{
	float: right;
	font-size: 14px;
	line-height: 34px;
}
.people-message{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    color: #555;
    background-color: #fff;
}
.height-full{
	min-height:600px;
}

/*数字区*/
.NumberBoard{
	text-align: center;
}
.NumberBoard-itemNumber{
	display: inline-block;
	font-size:24px;
	font-weight:bold;
}
.NumberBoard-itemName{
	font-size:14px;
	
}
.article-block{
	height:400px;
}
.article-title-limit{
	display: inline-block;
  width: 700px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.article-like-title-limit{
	display: inline-block;
  width: 500px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.article-time{
	text-align: right;
	float: right;
	display: inline-block;
  width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*people.css finish*/

/*list.css*/
.commend{
	
}
.comment-img{
	text-align: center;
	height:200px;
	line-height:200px;
}
.seer-item{
	display:inline-block;
	margin:0 10px 10px 0;
}
/*list.css finish*/

/*common.css*/
body{
	background: #f5f5f5;
	height:100%;
}
.bgWhite{
	background: #fff;
}

.navbar-default .navbar-brand {
  color: rgb(119,66,141);
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fcdddd;
}
.navbar-default .navbar-text {
  color: rgb(119,66,141);
}
.navbar-default .navbar-nav > li > a {
  color: rgb(119,66,141);
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color:rgb(229, 140, 240)
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color:/* #fcdddd*/#f8f8f8;
  background-color:rgb(119,66,141);
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #fcdddd;
  background-color: rgb(119,66,141);
}
.navbar-default .navbar-toggle {
  border-color: rgb(119,66,141);
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: rgb(119,66,141);
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: rgb(119,66,141);
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ff553d;
}
.navbar-default .navbar-link {
  color: #ff553d;
}
.navbar-default .navbar-link:hover {
  color: #fcdddd;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ff553d;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fcdddd;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fcdddd;
    background-color: rgb(208,90,110);
  }
}
/*我自己的导航条*/
.my-navbar-style{
	margin-bottom: 0;
}

a{
	color:inherit;
}
a:hover,a:active{
	color:rgb(119,66,141);
	text-decoration: none;
}
p{
	font-size:16px;
}
.footer{
	text-align: center;
	font-size:16px;
	display:block;
	
}

.hot-link{
	display: block;
	padding:5px 0 5px 0;
	font-size:16px;
}
.best-seer{
	text-align: center;
}
.best-seer-message{
	height:90px;
	line-height: 30px;
	text-align:center;
}

.prophecy-item .prophecy-date, .prophecy-item .prophecy-user{
	display:inline-block;
	margin-right:20px;
}
.prophecy-item .prophecy-summary{
	font-size:16px;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}

/*清除浮动*/
.clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0} 
.clearfloat{zoom:1}

/*jumbotron条	*/

.cherry-jumbotron{
	width:100%;
	margin-bottom: 20px;
	background: rgb(119,66,141);
}
.jumbotron-icon{
	font-size:80px;
}
.jumbotron-block{
	padding-top:40px;
	padding-bottom: 55px;
	text-align: center;
	color:#FFF;
}
.junbotron-non-button{
	margin-bottom:40px;
}
.jumbotron-title{
	font-size:35px;
	padding-bottom:20px;
}

.font-cherry{
	color:rgb(119,66,141);
}	

/*padding*/
.pt20{
	padding-top:38px;
}


/*nav*/
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color:  rgb(119,66,141);
}

/*短的，没有内容预览的预言*/
.prophecy-list{
	font-size: 16px;
	
}
.prophecy-list-item{
	display: block;
	padding-bottom: 10px;
}
.pdbt-30{
	padding-bottom: 30px;
}

/*common.css finish*/

/*article.css*/
.article-title{
	margin-top:50px;
	text-align: center;
	font-size:24px;
	font-weight: bold;
}
.article-message{
	text-align: center;
	margin-top:20px;
}
.comment-item{
	display:block;
	width:100%;
	min-height:100px;
	padding-bottom: 20px;;
	clear: both;
}

.comment-item .comment-user{
	width:100px;
	float:left;
}
.comment-item .comment-content{
	width: 630px;

	padding:0px 10px 0px 10px;
	float:left;
}

.comment-item .comment-content .comment-content-message{
	color:#999999;
	font-size:14px;
	padding-bottom: 5px;;
}
.comment-item .comment-content .comment-content-message .comment-floor{
	float: right;
	margin-right:20px;
}

.not-logged-in-message{
	text-align: center;
	height:128px;
	line-height: 128px;
	font-size: 14px;
	color:#8e8d8d;
}

/*article.css finish*/